<%= render partial:"header"%>
<div class="main">

  <div class="camera-header">

    <div class="camera-header-tab" id="camera-canon">
      <span class="camera-header-tab-text">canon</span>
    </div>

    <div class="camera-header-tab" id="camera-nikon">
      <span class="camera-header-tab-text">nikon</span>
    </div>

    <div class="camera-header-tab" id="camera-sony">
      <span class="camera-header-tab-text">sony</span>
    </div>

    <div class="camera-header-tab" id="camera-fujifilm">
      <span class="camera-header-tab-text">fujifilm</span>
    </div>

    <div class="camera-header-tab" id="camera-pentax">
      <span class="camera-header-tab-text">pentax</span>
    </div>

    <div class="camera-header-tab" id="camera-smartphone">
      <span class="camera-header-tab-text">スマホ</span>
    </div>

    <div class="camera-header-tab" id="camera-ext">
      <span class="camera-header-tab-text">ext</span>
    </div>

  </div>

</div>
<%= render partial:"footer"%>