<%= render partial:"header"%>

<div class="making">すいません<br>製作中です</div>

<div class="main">
  <div class="genre-header">

    <div class="genre-header-tab" id="genre-portrait">
      <span class="genre-header-tab-text">ポートレート</span>
    </div>

    <div class="genre-header-tab" id="genre-landscape">
      <span class="genre-header-tab-text">風景</span>
    </div>

    <div class="genre-header-tab" id="genre-animal">
      <span class="genre-header-tab-text">動物</span>
    </div>

    <div class="genre-header-tab" id="genre-flower">
      <span class="genre-header-tab-text">植物、花</span>
    </div>

    <div class="genre-header-tab" id="genre-snap">
      <span class="genre-header-tab-text">スナップ</span>
    </div>

    <div class="genre-header-tab" id="genre-food">
      <span class="genre-header-tab-text">料理</span>
    </div>

    <div class="genre-header-tab" id="genre-table">
      <span class="genre-header-tab-text">テーブルフォト</span>
    </div>

  </div>

</div>
<%= render partial:"footer"%>