
<%= render partial:"header"%>

<div class="main">
  <div class="main-sidebar-left">
  </div>
  <div class="main-photo">

    <div class="main-photo-index">



    </div>

  </div>

</div>


<%= render partial:"footer"%>