
<%= render partial:"header"%>

<div class="main">
  <div class="main-sidebar-left">
  </div>
  <div class="main-photo">

    <div class="main-photo-index">

    <% @photos.each do |photo|%>
      <%= link_to "/photos/#{photo.id}" do%>
        <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
      <%end%>
    <% end %>

    </div>

  </div>

</div>


<%= render partial:"footer"%>