<%= render partial:"header"%>
<div class="main">

  <div class="lens-header">

    <div class="lens-header-tab" id="lens-hyperwide">
      <span class="lens-header-tab-text">~14mm　魚眼、超広角</span>
    </div>

    <div class="lens-header-tab" id="lens-wide">
      <span class="lens-header-tab-text">16~28mm　広角</span>
    </div>

    <div class="lens-header-tab" id="lens-nomal">
      <span class="lens-header-tab-text">35~60mm　標準</span>
    </div>

    <div class="lens-header-tab" id="lens-semitele">
      <span class="lens-header-tab-text">80~100mm　中望遠</span>
    </div>

    <div class="lens-header-tab" id="lens-tele">
      <span class="lens-header-tab-text">100mm~　望遠</span>
    </div>

    <div class="lens-header-tab" id="lens-ext">
      <span class="lens-header-tab-text">ext</span>
    </div>

  </div>

</div>
<%= render partial:"footer"%>